In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor

In [2]:
df=pd.read_excel('main_data.xlsx')

In [3]:
df.describe()

,SBET a\n(m2/g),Vtoal b\n(cm3/g),Vmicro c\n(cm3/g),C,H,N,O *,P(Bar),T,C02 uptake amount
count,402.000000,402.000000,402.000000,398.000000,3.710000e+02,402.000000,379.000000,402.000000,402.000000,402.000000
mean,1492.535249,0.766845,0.515224,77.046859,1.753854e+00,3.614527,17.660554,0.902736,18.905473,3.566667
std,705.884298,0.460966,0.271530,11.081328,1.351289e+00,3.201667,10.206152,0.270918,10.747430,1.547911
min,18.000000,0.020000,0.040000,40.400000,-7.105427e-15,0.000000,0.000000,0.150000,0.000000,0.360000
25%,1000.750000,0.450039,0.320000,70.557500,8.850000e-01,1.300000,10.610000,1.000000,25.000000,2.532500
50%,1436.500000,0.660000,0.480000,79.175000,1.620000e+00,2.605000,15.700000,1.000000,25.000000,3.635000
75%,1952.000000,0.967500,0.730000,85.070000,2.420000e+00,5.030000,22.460000,1.000000,25.000000,4.407500
max,3247.000000,3.090000,1.180000,96.960000,1.330000e+01,15.880000,54.000000,1.000000,25.000000,8.200000

In [4]:
df.columns

Index(['SBET  a\n(m2/g)', 'Vtoal b\n(cm3/g)', 'Vmicro c\n(cm3/g)', 'C', 'H',
       'N', 'O *', 'P(Bar)', 'T', 'C02 uptake amount'],
      dtype='object')

In [5]:
df.rename(columns = {'SBET  a\n(m2/g)':'SA','Vtoal b\n(cm3/g)':'TPV','Vmicro c\n(cm3/g)':'MPV','C02 uptake amount':'CO2'}, inplace = True)

In [6]:
import miceforest as mf
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [7]:
imputer = IterativeImputer(random_state=10, max_iter=20,verbose=3)

In [8]:
imputer.fit(df)

[IterativeImputer] Completing matrix with shape (402, 10)
[IterativeImputer] Ending imputation round 1/20, elapsed time 0.04
[IterativeImputer] Change: 12.999697876053881, scaled tolerance: 3.247
[IterativeImputer] Ending imputation round 2/20, elapsed time 0.06
[IterativeImputer] Change: 0.8621103908864569, scaled tolerance: 3.247
[IterativeImputer] Early stopping criterion reached.

IterativeImputer(max_iter=20, random_state=10, verbose=3)

In [9]:
df_imputed = imputer.transform(df)

[IterativeImputer] Completing matrix with shape (402, 10)
[IterativeImputer] Ending imputation round 1/2, elapsed time 0.00
[IterativeImputer] Ending imputation round 2/2, elapsed time 0.00

In [10]:
df=pd.DataFrame(df_imputed,columns=['SA', 'TPV', 'MPV', 'C', 'H', 'N', 'O *', 'P(Bar)', 'T', 'CO2'])

In [11]:
df

         SA   TPV   MPV      C     H      N    O *  P(Bar)     T   CO2
0     645.0  0.26  0.25  70.86  1.71   3.19  14.72    0.15  25.0  1.43
1     750.0  0.30  0.29  83.88  1.63   3.27   5.30    0.15  25.0  1.46
2    1259.0  0.52  0.49  87.56  1.06   1.87   0.23    0.15  25.0  1.36
3    1476.0  0.61  0.60  91.62  0.80   1.67   0.00    0.15  25.0  1.30
4    1692.0  0.71  0.68  94.51  0.58   1.51   0.00    0.15  25.0  1.20
..      ...   ...   ...    ...   ...    ...    ...     ...   ...   ...
397  1165.0  1.03  0.91  64.70  1.50  10.40  23.25    1.00   0.0  5.30
398  2693.0  1.68  0.56  84.80  0.50   6.20   8.21    1.00   0.0  4.70
399  2731.0  1.89  1.12  86.80  1.80   2.60   7.90    1.00   0.0  4.10
400  2799.0  1.91  1.12  91.90  1.20   1.60   4.45    1.00   0.0  4.00
401  2511.0  1.35  1.16  76.38  1.48   7.21  14.93    1.00   0.0  7.19

[402 rows x 10 columns]

In [12]:
sum=df['C']+df["H"]+df['N']+df['O *']

In [16]:
c=0
k=0
for i in sum:
    k+=1
    if  i > 101 or i<99:
        print(1,k)
        c+=1
   
        
        
        
print(c)

1 1
1 2
1 3
1 4
1 5
1 6
1 40
1 41
1 42
1 43
1 44
1 45
1 51
1 52
1 53
1 54
1 55
1 56
1 57
1 58
1 59
1 86
1 88
1 89
1 222
25

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['SA']),df['SA'],test_size=0.01,random_state=42)

In [15]:
SUM numbers
Total numbers=402
=100=315
Total composition != 100 ->87
>100=33
>101=3
>102=1
<100=54
<99=22
<98=16
<97=16
<96=13
<95=12
<94=8
<93,<92=7
<91=6
<90=2
84<sum<85=2

SyntaxError: invalid syntax (3689020865.py, line 1)

In [ ]:
df.corr()

In [ ]:
df.shape

In [ ]:
#df.to_excel('main_data_for_working.xlsx')